# Virtual environments
venv/
.venv/
.env/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Others
*.log

# Assets and downloaded site files not part of the Python scraping project
js/
js(1)/
css/
css2/
js
js(1)
css
css2
*.transferir
*.png.webp
logo_footer.png
logo_nova.png.webp
a6efa98a5b61b3e3086420dffb1e73fb.css
jquery.fancybox.min.css
embed.php
f(1).txt
f(2).txt
f(3).txt
f.txt
pixel.html
Pagina.html
